<h1><%= @blogger.name %></h1>
Age: <%= @blogger.age %><br><br>
Bio:<br>
<%= @blogger.bio %><br><br>

Total Likes: <%= @blogger.posts.sum { |post| post.likes } %><br>

<% if @blogger.featured_post %>
    Featured Post: <%= link_to @blogger.featured_post_title, post_path(@blogger.featured_post) %><br><br>
<% end %>

<h3>LIST OF TOP 5 DESTINATIONS:</h3>
<ul>
    <% @blogger.top_five_destinations.each do |destination| %>
        <li><%= destination %></li>
    <% end %>
</ul>